{
  "tagFormat": "${version}",
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git",
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github",
  ],
  "publish": [
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/*.tar.gz",
            "label": "enUi-linux.tar.gz"
          },
          {
            "path": "dist/*.AppIamge",
            "label": "enUi-linuxAppImage.AppImage"
          },
          {
            "path": "dist/enUi*.dmg",
            "label": "enUi-mac.dmg"
          },
          {
            "path": "dist/*.exe",
            "label": "enUi-windows.exe"
          }
        ]
      }
    ]
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
